svg{
    height: 25px;
    width: 25px;
  }
  
  .alertAnimation{
    animation: leftSideAni 1s ease forwards;
  }
  
  @keyframes leftSideAni {
    0%{
      transform: translateX(100px);
      opacity: 0;
    }100%{
      transform: translateX(0);
      opacity: 1;
    }
  }